Repository mamali-fs/api-deriv-com-solidjs, pull requests merged in 2021-11, with the labels that each got.

#22 fiona / add benefits section
  src/Pages/Home/Benefits.tsx
  src/Pages/Home/Hero.tsx
  src/Pages/Home/Home.tsx
  src/assets/automation.svg
  src/assets/build-business.png
  src/assets/execution.svg
  src/assets/integration.svg
  src/assets/personalisation.png
Labels: rare, homepage

#25 Conversation component
  package.json
  src/Helpers/WS.ts
  src/Pages/Playground/Conversation.tsx
  src/Pages/Playground/Playground.tsx
  src/Pages/Playground/components/Conversation.tsx
  tailwind.config.js
Labels: rare, playground

#15 Implement WS module
  src/Helpers/WS.ts
  src/Pages/Playground/Conversation.tsx
  src/Pages/Playground/Playground.tsx
  src/Pages/Playground/Request.tsx
Labels: rare, playground

#33 Mahdiyeh/feature: request/respomse schema
  package-lock.json
  src/Pages/Playground/Playground.tsx
  src/Pages/Playground/components/ApiSelector.tsx
  src/Pages/Playground/components/Conversation.tsx
  src/Pages/Playground/components/playgrounApiDocs.tsx
  src/index.css
  tailwind.config.js
Labels: rare, playground, conflict

#24 QuickStart Page Documentation
  package-lock.json
  src/App.tsx
  src/Components/CodeBlock.tsx
  src/Components/CodeLanguageDropdown.tsx
  src/Components/Footer/Footer.tsx
  src/Components/Organisms/CodePreview.tsx
  src/Components/Organisms/demos/balance-csharp.cs.txt
  src/Components/Organisms/demos/balance-javascript.js.txt
  src/Components/Organisms/demos/balance-php.php.txt
  src/Components/Organisms/demos/balance-python.py.txt
  src/Components/Organisms/demos/buy-contract-csharp.cs.txt
  src/Components/Organisms/demos/buy-contract-javascript.js.txt
  src/Components/Organisms/demos/buy-contract-php.php.txt
  src/Components/Organisms/demos/buy-contract-python.py.txt
  src/Components/Organisms/demos/keep-alive-csharp.cs.txt
  src/Components/Organisms/demos/keep-alive-javascript.js.txt
  src/Components/Organisms/demos/keep-alive-php.php.txt
  src/Components/Organisms/demos/keep-alive-python.py.txt
  src/Components/Organisms/demos/proposal-csharp.cs.txt
  src/Components/Organisms/demos/proposal-javascript.js.txt
  src/Components/Organisms/demos/proposal-php.php.txt
  src/Components/Organisms/demos/proposal-python.py.txt
  src/Components/Organisms/demos/ticks-csharp.cs.txt
  src/Components/Organisms/demos/ticks-javascript.js.txt
  src/Components/Organisms/demos/ticks-php.php.txt
  src/Components/Organisms/demos/ticks-python.py.txt
  src/Components/SideBar/SideBar.tsx
  src/Pages/Docs/Docs.tsx
  src/Pages/Docs/QuickStart/QuickStart.tsx
  src/Pages/QuickStart/QuickStart.tsx
  src/Store/routes.ts
  src/index.css
  src/types.ts
  vite.config.ts
  yarn.lock
Labels: rare, documentation
